# By default listen on https://localhost
# To change this:
# * uncomment SEARXNG_HOSTNAME, and replace <host> by the SearXNG hostname
# * uncomment LETSENCRYPT_EMAIL, and replace <email> by your email (require to create a Let's Encrypt certificate)

# SEARXNG_HOSTNAME=<host>
# LETSENCRYPT_EMAIL=<email>
BASIC_AUTH_USERNAME=<username>

# Run: docker run -it --rm docker.io/library/caddy:2-alpine caddy hash-password
# Wrap in single quotes
BASIC_AUTH_HASHED_PASSWORD='<hashed_password>'